html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: $text;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
