@import url("//fonts.googleapis.com/icon?family=Material+Icons");

@import "variables";
@import "fonts";
@import "material-icons";
@import "globals";
//@import "scene";

#app {
  height: 100%;
  width: 100%;
}
.app-cmp {
  height: 100%;
  width: 100%;
}
